
    <header class="main-header">
        <!-- Logo -->
         <a class="logo" href="/">
        <!-- mini logo for sidebar mini 50x50 pixels -->
         <span class="logo-mini"><b>ML</b></span>
        <!-- logo for regular state and mobile devices -->
         <span class="logo-lg"><b>MLaaS</b></span></a> <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id=
            "navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/home">Home <span class=
                        "sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a href="#/analytics">Analytics</a>
                    </li>
                    <li>
                        <a href="#/casestudy">Case Studies</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a class="dropdown-toggle" data-toggle="dropdown" href=
                        "#"><!-- The user image in the navbar-->
                         <img alt="User Image" class="user-image" src=
                        "/images/user1.jpg">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                         <span class="hidden-xs">Alexander Pierce</span></a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img alt="User Image" class="img-circle" src=
                                "/images/user1.jpg">
                                <p>Alexander Pierce - Web Developer
                                <small></small></p>
                            </li><!-- Menu Body -->
                            <li class="user-body"></li><!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a class="btn btn-default btn-flat" href=
                                    "#">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-default btn-flat" href=
                                    "/logout" onclick="clearSession()">Sign
                                    out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>