<!DOCTYPE html>
<html>
<head>
    <title>MLaaS</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="og:description" content="A platform to enable business analysts, investigators and independent researchers to perform data analytics on demand. Linkage development is an unparalleled feature." />
    <meta name="og:author" content="MLaaS()" />
    <meta name="og:title" content="Machine Learning as a Service" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:keywords" content="education, team, teams, management, team management, website, responsive" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/fullpage.js/jquery.fullPage.min.js"></script>
    <script src="/bower_components/fullpage.js/vendors/jquery.easings.min.js"></script>
    <script src="/bower_components/fullpage.js/vendors/jquery.slimscroll.min.js"></script>

    <script src="javascripts/config/applicationNg.js"></script>


    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- This stylesheet is for landing page -->
    <link rel='stylesheet' href='/stylesheets/index.css' />

</head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="logo logo-lg"><b>MLaaS</b></div>
                <div data-toggle="modal" data-target="#menu" id="navbar-toggle"><i class="btr bt-bars"></i></div>
                <div id="navigation">
                    <li data-menuanchor="features"><a href="#features">Features</a></li>
                    <li data-menuanchor="started"><a href="#started">Get Started</a></li>
                    <li><a href="/index#/login" class="action" data-toggle="modal" data-target="#action">Login</a></li>
                </div>
           
                <div class="clear"></div>
            </div>
        </div>

        <div class="greeting">
            <h1>WELCOME</h1>
        </div>
    </body>
</html>
